#footer {
  background: url("../../img//footer.png");
  .footer {
    text-align: center;
    h1 {
      text-align: start;
      color: #fff;
      font-family: Playfair Display;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      padding-bottom: 150px;
      padding-top: 30px;
    }
    p {
      color: #fff;
      font-family: Playfair Display;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &--line {
      width: 1240px;
      height: 2px;
      background: #bebebe;
      margin: 20px;
    }
    a{
        font-size: 26px;
        margin: 0 10px;
        color: #fff;
    }
  }
}
