*{
  margin: 0;
  padding: 0;
}
  .container {
    width: 90%; /* Ширина контейнера (может быть в пикселях, процентах и т.д.) */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Выравнивание по центру по горизонтали */
    padding: 20px; /* Отступы внутри контейнера */
}
a{
  text-decoration: none;
}
body{

}
button{
  cursor: pointer;
}